.btn-view {
    background: #e5bd89;
    border-radius: 24px;
    color: #212529;

    width: 150px;
    height: 40px;
    span {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
    }
}
.home {
    .section__banner {
        background: url(../images/home/bgs1-desktop.png) no-repeat top center;
        background-size: cover;
        padding: 243px 0 20px;
        max-height: 664px;
        &-inner {
            max-width: 1000px;
            margin: auto;
            .row {
                align-items: center;
                margin: 0;
            }
            .col {
                padding: 0;
            }
        }
        .card {
            background: rgba(255, 255, 255, 0.7);
            border-radius: 12px;
            padding: 14.5px 48px;
            &-content {
                color: #333333;
                > * {
                    margin-bottom: 12px;
                }
            }
        }
        .title {
            span {
                display: block;
            }
            &-brand {
                font-weight: 700;
                font-size: 64px;
                line-height: 100%;
            }
            &-name {
                font-weight: 700;
                font-size: 32px;
                line-height: 100%;
            }
        }
        .desc {
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
        }
        .slogan {
            picture {
                max-width: 582px;
                margin: auto;
            }
        }
        .rs-col {
            &-left {
                flex-basis: calc(100%);
                max-width: 637px;
                width: 100%;
                margin: auto;
            }
            &-right {
                flex: 1;
            }
        }
        @include respond-to("md") {
            background: url(../images/home/bgs1-mb.png) no-repeat top center;
            background-size: cover;
            padding: 283px 0 241px;
            max-height: 100%;
            .slogan {
                display: none;
            }
            .card {
                padding: 32px 48px;
                &-content {
                    text-align: center;
                }
                .title {
                    &-brand {
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 100%;
                        color: #333333;
                    }
                    &-name {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 100%;
                        color: #333333;
                    }
                    span {
                        margin-top: 12px;
                    }
                }
                .desc {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #333333;
                    margin-bottom: 0;
                    margin-top: 12px;
                }
            }
        }
    }
    .section2 {
        position: relative;
        .title {
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            color: #1a1a1a;
        }
        .row {
            margin: 0;
            align-items: center;
            .col {
                padding: 0;
            }
        }
        .card {
            &-content {
                text-align: center;
                > * {
                    margin-bottom: 16px;
                }
                .desc {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: #212529;
                }
            }
            .title {
                margin: auto auto 16px;
            }
        }

        .rs-col {
            &-right {
                width: 100%;
                margin-left: 32px;
                flex: 1;
            }
            &-left {
                max-width: 500px;
            }
        }
        @include respond-to("md") {
            .row {
                flex-direction: column;
            }
            .rs-col {
                &-right {
                    margin-left: 0;
                    margin-top: 32px;
                }
                &-left {
                    max-width: 100%;
                }
            }
            .card {
                &-content {
                    text-align: center;
                    > * {
                        margin-bottom: 16px;
                    }
                    .desc {
                        font-size: 16px;
                        max-width: 328px;
                        margin: auto auto 0;
                    }
                }
                .title {
                    font-size: 32px;
                    line-height: 100%;
                }
            }
        }
    }
}
.section__favourite {
    padding: 72px 0 0;
    .section-title {
        margin-bottom: 48px;
        .tit {
            font-weight: 700;
            font-size: 44px;
            line-height: 100%;
            color: #0a2c36;
        }
        span {
            font-weight: 700;
        }
    }
    @include respond-to("md") {
        padding: 32px 0 0;
        text-align: center;

        .section-title {
            margin-bottom: 32px;
            .tit {
                font-size: 28px;
            }
            span {
                display: none;
            }
        }
        .slide-box {
            padding: 0;
        }
        .swiper-wrapper {
            flex-direction: column;
        }
        .swiper-button {
            display: none;
        }
        .swiper {
            &-slide {
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }
        }
    }
}
.section__service {
    padding-top: 72px;
    .section-box {
        border: 1px solid #0a2c36;
        border-radius: 24px 24px 0px 0px;
        padding: 0 36px;
        .card-content {
            padding-bottom: 8px;
        }
    }
    .section-title {
        text-align: center;
        .tit {
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            color: #e5bd89;

            background: #0a2c36;
            border-radius: 0px 0px 6px 6px;
            max-width: 508px;
            width: 100%;
            height: 80px;
            margin: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 48px;
        }
    }
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
        &-content {
            display: flex;
            flex-direction: column;
            height: inherit;
        }
        .desc {
            margin-top: 0 !important;
        }
        &-btn {
            margin-top: auto;
        }
    }
    @include respond-to("md") {
        padding-top: 32px;
        .section-box {
            border: none;
            border-radius: 0;
            padding: 0;
        }
        .row {
            flex-wrap: nowrap;
            overflow-x: scroll;
            .col-4 {
                flex-basis: calc(100% / 1.8);
                max-width: calc(100% / 1.8);
                width: 100%;
            }
            .card {
                &-content {
                    padding: 16px 8px;
                    .tit,
                    .desc {
                        color: #212529;
                    }
                    .tit {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 8px;
                    }
                    .desc {
                        font-size: 14px;
                        line-height: 140%;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                &-btn {
                    .btn {
                        width: 89.41px;
                        height: 24.59px;
                        font-size: 14px;
                    }
                }
            }
        }
        .section-title {
            text-align: center;
            .tit {
                font-size: 28px;
                color: #fee7ca;
                height: 60px;
            }
        }
    }
}
.section-news {
    padding-top: 72px;
    .section-tit {
        font-weight: 700;
        font-size: 44px;
        line-height: 48px;
        color: #32373d;
        margin-bottom: 24px;
    }
    .item {
        &-picture {
            margin-bottom: 16px;
            img{
                border-radius: 24px 0px;
            }
        }
        &-name {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #32373d;
            margin-bottom: 12px;
        }
        &-desc {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #444b52;
        }
    }
    .timer {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #939ca3;
    }
    @include respond-to("md") {
        .section-tit {
            font-size: 28px;
            line-height: 26px;
            margin-bottom: 16px;
        }
        .news {
            &-item {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
        .item {
            display: block;
            background: #F2F2F2;
            &-picture {
                margin-bottom: 8px;
                img{
                    border-radius: 0px;
                }
            }
            &-info{
                padding: 16px 8px;
            }
            &-name{
                font-size: 18px;
line-height: 24px;
margin-bottom: 4px;
            }
            &-desc{
                font-size: 16px;
line-height: 160%;
            }
        }
        .timer{
            font-size: 12px;
line-height: 16px;
        }
    }
}
.btn {
    border: none;
}

.section-box {
    .card {
        &-content {
            background: #e5bd89;
            color: #212529;
            padding: 22px 13px 50px;
            > *:not(:last-child) {
                margin-bottom: 16px;
            }
        }
        .tit {
            font-weight: 700;
            font-size: 28px;
            line-height: 100%;
        }
        .desc {
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            max-width: 314.65px;
            margin: auto auto 16px;
        }
        .btn {
            width: 140px;
            height: 40px;
            background: #fff6ef;
            border-radius: 24px;
            color: #212529;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            padding: 0;
        }
    }
}
.slide-box {
    padding: 0 24px;
    position: relative;
    .item {
        &-img {
            margin: auto auto 24px;
            // max-width: 258px;

            border-radius: 12px;
            img {
                box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.35);
                border-radius: inherit;
            }
        }
        &-tit {
            margin-top: 24px;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #0a2c36;
        }
    }
    @include respond-to("md") {
        .item {
            &-img {
                margin: auto auto 16px;
                border-radius: 6px;
            }
            &-tit {
                margin-top: 16px;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
}
.swiper-button {
    width: 40px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #cbd1d6;
    border-radius: 100px;
    &:after {
        display: none;
    }
    img {
        max-width: 16px;
        margin: auto;
    }
    &-prev {
        left: 0;
        transform: rotate(180deg);
    }
    &-next {
        right: 0;
    }
    @include respond-to('md'){
        width: 21.14px;
        height: 21.14px;
        img {
            max-width: 12px;
        }
         &-prev {
        left: 0;
    }
    &-next {
        right: 0;
    }
    }
}
.section-card {
    background: url(../images/home/bgs5-desktop.png) no-repeat center;
    background-size: cover;
    padding: 193px 0;
    margin-top: 72px;
    background-attachment: fixed;

    .card {
        max-width: 776px;
        margin: auto;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 24px;
        padding: 48px 64px;
        &-content {
            > *:not(:last-child) {
                margin-bottom: 16px;
            }
            max-width: 576px;
            margin: auto;
        }
        .tit {
            font-weight: 700;
            font-size: 36px;
            line-height: 140%;
            color: #1a1a1a;
        }
        .desc {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #212529;
        }
    }
    @include respond-to("md") {
        background: url(../images/home/bgs5-mb.png) no-repeat center;
        background-size: cover;
        padding: 106px 0;
        margin-top: 32px;
        .card {
            padding: 48px 10px;
            &-content {
                max-width: 576px;
                margin: auto;
            }
            .tit {
                font-size: 28px;
                line-height: 140%;
            }
            .desc {
                font-size: 16px;
                line-height: 150%;
                &:first-letter {
                    margin-left: 20px;
                }
            }
            &-btn {
                .btn {
                    width: 129px;
                    height: 36px;
                    padding: 0;
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.section-mask {
    background: url(../images/home/mask.png) no-repeat top right;
    background-size: cover;
}
