.product {
    .section__banner {
        background: url(../images/product/bg-banner.jpg) no-repeat center;
        background-size: cover;
        padding: 234px 0 208px;
        background-attachment: fixed;
        &-inner {
            position: relative;
        }
        .card {
            background: rgba(255, 255, 255, 0.7);
            border-radius: 12px;
            padding: 79px 113px;
            text-align: center;
            max-width: 872px;
            margin: auto;
            .para-tit {
                font-weight: 700;
                font-size: 64px;
                line-height: 100%;
                color: #0a2c36;
            }
        }
        .tit {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            text-align: center;

            font-weight: 700;
            font-size: 64px;
            line-height: 100%;
            padding-top: 66px;
        }
        .item-img {
            max-width: 884px;
            margin: auto;
        }
        .swiper {
            .swiper-pagination {
                bottom: 16px;
            }
        }
        @include respond-to("md") {
            padding: 311px 0 361px;
            background: url(../images/product/bg-mb.jpg) no-repeat center;
            background-size: cover;
            background-attachment: fixed;
            .card {
                padding: 32px 48px;
                .para-tit {
                    font-size: 36px;
                    line-height: 48px;
                    color: #333333;
                    max-width: 223px;
                    margin: auto;
                }
            }
        }
    }
    .section__favourite {
        padding-bottom: 48px;
        .desc {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            color: #fff;
            margin-top: 16px;
        }
        .rs-row {
            margin: 0 -8px;
            .col-4 {
                padding: 0 8px;
            }
        }
        .section-tit {
            margin-bottom: 32px;

            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            color: #0a2c36;
        }
        .block {
            &-picture {
                margin-bottom: 24px;
            }
            &-para {
                padding-bottom: 32px;
            }
        }
        .para-normal {
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: #0a2c36;
        }
        .slide-box {
            .item {
                padding-top: 48px;
                &-img {
                    margin-bottom: 24px;
                }
                &-tit {
                }
            }
        }
        @include respond-to("md") {
            padding-bottom: 24px;
            .section-tit {
                font-size: 28px;
                line-height: 36px;
                max-width: 286px;
                margin: auto auto 32px;
            }
            .block {
                &-para {
                    padding-bottom: 0;
                }
            }
            .para-normal {
                font-size: 16px;
                line-height: 140%;
                color: #0a2c36;
                text-align: left;
            }
            .slide-box {
                .item {
                    padding-top: 32px;
                    &-img {
                        margin-bottom: 8px;
                    }
                    &-tit{
                        max-width: 329px;
                        margin: auto;
                    }
                }
            }
        }
    }
}
.section-product {
    padding: 48px 0 64px;
    background: #f2f2f2;
    &-inner {
        padding-top: 24px;
    }
    .tit {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        color: #0a2c36;
        margin-bottom: 32px;
    }
    .block-picture {
        margin-bottom: 32px;
        // overflow: hidden;
        picture{

        }
        img{
            filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.35));
            border-radius: 12px;
        }
    }
    @include respond-to('md'){
        padding: 32px 0 19px;
        &-inner {
            padding-top: 0;
        }
        .tit {
            font-size: 28px;
            line-height: 120%;
            text-align: center;
        }
        .block-picture {
            margin-bottom: 13px;
        }
        .row{
            margin: 0 -6.5px;
        }
        .col-md-6{
            padding: 0 6.5px;
        }
    }
}
