.card {
    padding: 48px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 24px; 
    &-top {
        & *:not(:last-child) {
            margin-bottom: 32px;
        }
        & > * {
            font-family: 'Roboto';
            font-style: normal;
            color: #0A2C36;
        }
        &-title {
            font-weight: 700;
            font-size: 64px;
            line-height: 100%;
        }
        &-subtitle {            
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
        }
        &-desc { 
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
        }
    }
    &-content {
        color: #333333;
    }       
} 

.section-card {
    background: #f1dccd;
    padding: 64px 0;
    .card {
        max-width: 776px;
        margin: auto; 
        &-content{
            > *:not(:last-child) {
                margin-bottom: 16px;
            }
            max-width: 576px;
            margin: auto;
        }
        .tit {
            font-weight: 700;
            font-size: 36px;
            line-height: 140%;
            color: #1a1a1a;
        }
        .desc {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #212529;
        }

    }
}
