.header {
    background: #0a2c36;
    &__inner {
        padding-bottom: 10px;
        > .row {
            align-items: center;
            justify-content: space-between;
            margin: 0;
        }
        .col-auto {
            padding: 0;
        }
        @include respond-to("md") {
            padding-bottom: 0;
        }
    }
    &__logo {
        a {
            display: block;
            max-width: 76px;
        }
    }
    .menu-mb-ic {
        display: none;
    }
    &__hotline {
        display: flex;
        align-items: center;
        img {
            max-width: 22px;
        }
        [class*="col-"] {
            padding: 0;
        }
        .col-left {
            width: 44px;
            height: 44px;
            .icon-call {
                display: inline-flex;
                justify-content: center;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(255, 255, 255);
                border-image: initial;
                border-radius: 4px;
                padding: 10px;
            }
        }
        .col-right {
            margin-left: 8px;
            p {
                color: $white;
                font-weight: 500;
            }
            .text-phone {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 8px;
            }
            .phone {
                font-size: 24px;
                line-height: 20px;
            }
        }
        @include respond-to("md") {
            .col-right {
                margin-left: 8px;
                p {
                    color: $white;
                    font-weight: 500;
                }
                .text-phone {
                    font-size: 12px;
                    line-height: 100%;
                    margin-bottom: 4px;
                }
                .phone {
                    font-size: 16px;
                    line-height: 100%;
                }
            }
        }
    }
    @include respond-to("md") {
        padding-bottom: 8px;
        .menu-mb-ic {
            display: block;
        }
        .col-menu-mb {
            display: none;
        }
        .col-auto {
            padding: 0 !important;
        }
        &__logo {
            display: flex;
            align-items: center;
            .menu-mb-ic {
                width: 24px;
                font-size: 24px;
                margin-right: 8px;
                i {
                    color: $white;
                }
            }
            a {
                max-width: 46px;
            }
        }
    }
}
.nav-desk {
    background: #e5bd89;
    padding: 16px 0;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    &__item {
        &-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 4px;
        }
        .nav-text {
            color: #0a2c36;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            padding: 10px;
            border-radius: 4px;
        }
        &.active {
            .nav-text {
                background: #0a2c36;

                color: $white;
                font-weight: 700;
            }
        }
        @media (min-width: 992px) {
            &:hover {
                .nav-text {
                    background: #0a2c36;
                    color: $white;
                    font-weight: 700;
                }
            }
        }
    }
}
.nav-mb {
    display: none;
    @include respond-to("md") {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
        transform: translateX(-100%);
        height: 100%;
        width: 100%;
        display: block;
        z-index: 999;
        display: block;
        &.open {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            .nav-mask {
                opacity: 1;
                visibility: visible;
            }
        }
        &-wrap {
            max-width: 340px;
            width: 100%;
            height: inherit;
            position: relative;
        }
        &-logo {
            picture {
                max-width: 46px;
            }
        }
        &-head {
            background: #0a2c36;
            padding: 0 10px 10px 16px;
        }
        &-body {
            background: #ffffff;
            padding-bottom: 116px;
            .nav-list {
                display: block;
            }
            .nav-item {
                display: block !important;

                a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #334155;
                    padding: 10px 20px 10px 16px;
                    display: flex;
                    justify-content: space-between;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #e4eaf1;
                    margin-right: 0;
                }
                &-icon{
                    font-size: 14px;
                }
            }
            a.nav-active {
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                // text-transform: uppercase;
                color: #072d94;
                background: transparent;
            }
        }
        &-icon {
            position: absolute;
            right: 17px;
            top: 17px;
            * {
                font-size: 14px;
                line-height: 1;
                color: $white;
            }
        }
        &-foot {
            height: 100%;
            background: #edf2f8;

            padding: 16px 24px 0;
            .hotline {
                display: flex;
                align-items: center;
                .number {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 100%;
                    color: #333333;
                }
                .name {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    color: #072d94;
                    margin-top: 2px;
                }
                &-ic {
                    width: 36px;
                    height: 36px;
                    margin-right: 8px;
                    i {
                        color: #1d48ba;
                        font-size: 36px;
                    }
                }
                &-info {
                    flex: 1;
                    span {
                        display: block;
                    }
                }
            }
        }
        .nav-mask {
            background: #E5BD89;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: all 0.6s;
        }
    }
    .disable-scroll {
        overflow: hidden;
    }
}
